.logo {
    text-align: center;
}

.homepage-container {
    max-width: 100%;
}

.homepage-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.quiz-properties {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.quiz-properties .label {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.go-btn {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.radio-button label {
    font-size: 1.6rem;
    margin: 0.7rem 0;
}

.name-input {
    margin: 0 1rem 4rem 1rem;
}

@media screen and (max-width: 1100px) {
    .quiz-properties {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 0 1rem;
    }

    .quiz-properties .label {
        margin-top: 4rem;
    }

    .go-btn {
        margin-top: 6rem;
    }

    .logo,
    .logo img {
        text-align: center;
        height: 10rem;
    }

    .homepage-inputs {
        margin-top: -1rem;
    }
}
