.logo {
    text-align: center;
}

.homepage-container {
    max-width: 100%;
}

.homepage-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.quiz-properties {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.quiz-properties .label {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.go-btn {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.radio-button label {
    font-size: 1.6rem;
    margin: 0.7rem 0;
}

.name-input {
    margin: 0 1rem 4rem 1rem;
}

@media screen and (max-width: 1100px) {
    .quiz-properties {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 0 1rem;
    }

    .quiz-properties .label {
        margin-top: 4rem;
    }

    .go-btn {
        margin-top: 6rem;
    }

    .logo,
    .logo img {
        text-align: center;
        height: 10rem;
    }

    .homepage-inputs {
        margin-top: -1rem;
    }
}

@media screen and (max-width: 769px) {
    .quiz-properties {
        height: auto;
    }

    .quiz-properties .label {
        margin-top: 1.5rem;
        height: auto;
    }
    .radio-button label {
        font-size: 1.6rem;
        margin: 0.5rem 0;
    }

    .go-btn {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }
    .logo,
    .logo img {
        text-align: center;
        height: 8rem;
    }
    .name-input {
        margin: 0 1rem 2rem 1rem;
    }
}

/* mediaquery breakpoints => 420 px, 769px, 1024px  */

@media screen and (max-width: 420px) {
    .logo,
    .logo img {
        text-align: center;
        height: 8rem;
    }
    .go-btn {
        display: flex;
        justify-content: center;
        margin: 4rem 0;
    }
    .name-input {
        margin: 0 1rem 5rem 1rem;
    }
}
