.nbr-qstn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 2.5rem;
}

.nbr {
    margin: 0;
    text-align: center;
    width: 100%;
}

.increase-decrease-btn {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.increase-btn {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid var(--blue);
    margin: 0.3rem;
}

.decrease-btn {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid var(--blue);
    margin: 0.3rem;
}
