.form-control {
    font-family: Montserrat;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-control label {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #404040;
}
.form-control select {
    height: 43px;
    width: 221px;
    border-radius: 5px;
    font-size: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: center;
}
