.final-score {
    color: var(--purple);
}

.score {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    margin: 0;
}

.score-number {
    font-size: 6rem;
    text-align: center;
    vertical-align: center;
    margin: 0;
}

@media screen and (max-width: 640px) {
    .score {
        font-size: 2rem;
    }

    .score-number {
        font-size: 5rem;
    }
}

@media screen and (max-width: 375px) {
    .score {
        font-size: 1.5rem;
    }

    .score-number {
        font-size: 4rem;
    }
}