.final-score {
    color: var(--purple);
}
.score {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    margin: 0;
}
.score-number {
    font-size: 6rem;
    text-align: center;
    vertical-align: center;
    margin: 0;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: score-scaling;
    animation-iteration-count: infinite;
}

@keyframes score-scaling {
    from {
    }

    to {
        font-size: 10rem;
    }
}
