.final-score {
    display: inline-block;
    color: #8600C2;
    width: 7.3rem;
    height: 1.42rem;
}
.score {
    font-size: 2.3rem;
   
}
.score-number {
    font-size: 6rem;
    text-align: center;
  
}