.div-button {
    display: flex;
    justify-content: center;

}

.button {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
    height: 6rem;
    width: 20rem;
    border-radius: 4px;
    offset: 0px 4px;

}

a {
    align-items: center;
}