.answer-container {
    background-color: var(--white);
    text-align: center;
    border-radius: 0.5rem;
    padding: 0 3rem;
    margin-top: 2rem;
    width: 40%;
}

.answer-container:hover {
    cursor: pointer;
    background-color: var(--blue);
}

.answer-correct,
.answer-correct:hover {
    background-color: green;
    color: white;
    animation: none;
    font-weight: 700;
    animation: 0.5s ease-in-out infinite alternate shineZoom;
}

.player-correct,
.player-correct:hover {
    animation: 0.5s ease-in-out infinite alternate shineZoom,
        0.5s ease-in-out infinite alternate shineColor;
}

.answer-wrong,
.answer-wrong:hover {
    font-weight: 400;
    background-color: #988;
    color: white;
}

.player-wrong,
.player-wrong:hover {
    font-weight: 500;
    background-color: red;
    color: white;
}

@media (max-width: 992px) {
    .answer-container {
        width: 100%;
    }
}

@keyframes shineZoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes shineColor {
    from {
        background-color: var(--blue);
    }
    to {
        background-color: #adf;
    }
}
