.answer-container {
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 0 3rem;
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.answer-container:hover {
    cursor: pointer;
    background-color: var(--blue);
}

.answer-correct,
.answer-correct:hover {
    background-color: green;
    color: white;
    animation: none;
    font-weight: 700;
    animation: 0.5s ease-in-out infinite alternate shineZoom;
}

.player-correct,
.player-correct:hover {
    animation: 0.5s ease-in-out infinite alternate shineZoom,
        0.5s ease-in-out infinite alternate shineColor;
}

.player-wrong,
.player-wrong:hover {
    font-weight: 500;
    background-color: red;
    color: white;
}

@keyframes shineZoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes shineColor {
    from {
        background-color: var(--blue);
    }
    to {
        background-color: #adf;
    }
}

@media screen and (max-width: 420px) {
    .answer-container {
        font-size: 1.5rem;
    }
}
