.game-container {
    max-width: 800px;
    background-color: var(--beige);
    border-radius: 2rem;
    font-size: 2.3rem;
    padding: 5rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.answers-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 1265px) {
    .answers-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .game-container {
        margin-top: 0;
    }
}