.game-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--beige);
    border-radius: 2rem;
    font-size: 2.3rem;
    padding: 5rem 8rem 6rem 8rem;
}

.answers-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
