.game-container {
    max-width: 70%;
    background-color: var(--beige);
    border-radius: 2rem;
    padding: 5rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    width: 100%;
}

.answers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.wait-container {
    text-align: center;
    font-weight: 700;
    font-size: 10rem;
    opacity: 0.1;
    padding: 2rem 3rem;
    min-width: 1rem;
    height: 90%;
}

.pop-score {
    position: absolute;
    color: var(--blue);
    font-size: 5rem;
    font-weight: bold;
    animation-name: pop-score;
    animation-duration: 3s;
}

@keyframes pop-score {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@media (max-width: 992px) {
    .wait-container {
        font-size: 5rem;
    }
}
@media screen and (max-width: 1265px) {
    .game-container {
        padding: 2rem;
        margin-top: 0;
    }
}

@media screen and (max-width: 900px) {
    .answers-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 420px) {
    .answers-container {
        width: auto;
    }
}
