.question-counter {
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    width: 7rem;
    height: 3rem;
    padding-top: 1.5rem;
    font-size: 1.5rem;
    border-radius: 2rem 2rem 0 0;
}

.question-counter p {
    margin: 0;
}

@media screen and (max-width: 420px) {
    .question-counter {
        width: 5rem;
        font-size: 1.2rem;
    }
}
