.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--white);
    border-radius: 0.5rem;
    font-size: 2.1rem;
    padding: 3rem 3rem;
}

@media screen and (max-width: 420px) {
    .question-container {
        font-size: 1.5rem;
    }
}
