.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 2rem 3rem;
    min-width: 700px;
    height: 127px;
}
