.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--white);
    border-radius: 0.5rem;
    min-width: 80%;
    height: 127px;
    font-size: 2.1rem;
    padding: 0 3rem;
}

@media screen and (max-width: 1265px) {
    .question-container {
        width: 90%;
    }
}