html {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--beige);
    margin: 2rem 0;
    width: 70%;
    border-radius: 40px;
    background-color: rgba(var(--light-beige-rgb), 0.9);
    padding-top: 2rem;
}

footer {
    background-color: rgba(var(--beige-rgb), 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    border-radius: 0px 0px 40px 40px;
}

#blockColorblindContent {
    display: none;
}
